{% extends "base.html" %}
{% load staticfiles %}

<!--  <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
	{% csrf_token %}
	<input type="text" id="username" name="username"  placeholder="Username">
	<input type="password" name="password" id="password" placeholder="Password">
	<button type="submit" class="btn">Login</button>
</form> -->

{% block content %}
	
	<div class="login-container">
		{% if login_form.non_field_errors %}
		    <ul class='form-errors'>
		        {% for error in login_form.non_field_errors %}
		            <li>{{ error }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
	
		<form class="login-form" action="." method="POST">
		    {% csrf_token %}
		    {{ login_form.username }}
		    {{ login_form.password }}

		    <button type="submit" class="btn btn-primary" value="Submit" tabindex="3">Submit</button>
		</form>
	</div>
{% endblock %}